.navigation-wrapper .burger-wrapper{
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

.navigation-wrapper .burger{
  color: #fdfdfd;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;

  border: 1px solid #fdfdfd;
  border-radius: 6px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: none;

  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all .15s linear;
  white-space: normal;
  
  z-index: 10;
}

.navigation-wrapper .burger .fa-xmark{
  display:none;
}

body.navigation-show .navigation-wrapper .burger .fa-xmark,
.navigation-wrapper.open .burger  .fa-xmark{
  display:inline-block;
}

body.navigation-show .navigation-wrapper .burger .fa-bars,
.navigation-wrapper.open .burger .fa-bars{
  display:none;
}

.navigation-wrapper .burger:hover{
    background-color: #1a334e;
}

.navigation-wrapper .navigation-pullout{
  position: fixed;
  left: -50px;
  bottom: 0;
  background-color: #000;
  height: calc(100vh - 115px);
  width: 50vw;
  z-index: 5;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  overflow-y: auto;
  overflow-x: clip;
  opacity: 0;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  display: none;
}

body.navigation-show .navigation-wrapper .navigation-pullout,
.navigation-wrapper.open .navigation-pullout{ 
  opacity: 1;
  left: 0;
}
body.navigation-block .navigation-wrapper .navigation-pullout,
.navigation-wrapper.open .navigation-pullout{
  display: block;
}

body.navigation-block{
  overflow: hidden;
}

.navigation-wrapper .navigation-pullout > .hs_cos_wrapper_type_simple_menu,
.navigation-wrapper .navigation-pullout > .hs_cos_wrapper_type_simple_menu > .hs-menu-wrapper{
  height: 100%;
}

.navigation-wrapper .navigation-pullout .hs-menu-wrapper > ul{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  min-height: 100%;
  padding-bottom: 24px;

  max-width: calc(1580px / 2);
  margin-left:auto;
  margin-right: 0;
}

/* Depth 1 */
.navigation-wrapper .navigation-pullout .hs-menu-wrapper > ul li{
  margin: 16px 0;
  padding-left: 0.5rem;
}

.navigation-wrapper .navigation-pullout .hs-menu-wrapper > ul li a{
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

/* Depth 2 */
.navigation-wrapper .navigation-pullout .hs-menu-wrapper > ul li.hs-menu-depth-2{
      margin-bottom: 0;
    margin-top: 0px;
}

.navigation-wrapper .navigation-pullout .hs-menu-wrapper > ul li.hs-menu-depth-2 a{
  padding-bottom: 0;
  font-size: 1rem;
}

/* Override default hs menu behavior. TODO - delete this behavior from other css */
.navigation-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper,
.navigation-wrapper .hs-menu-wrapper.flyouts .hs-menu-children-wrapper{
  opacity: 1;
  position: relative;
  left: auto;
}

@media (max-width: 1160px) {
  .navigation-wrapper .burger-wrapper{
    width: 100%;
  }
  
  .navigation-wrapper .navigation-pullout{
    width: 100vw;
  }
}